{% extends "main.html" %}
{% block content %}


<h1>Project</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Votes</th>
        <th>Positive Votes Ratio</th>
        <th>Time</th>
        <th> Link </th>
        <th> Edit Link </th>
    </tr>
    {% for project in projects %}
        <tr>
            <td> {{project.id}} </td>
            <td> {{project.title}}</td>
            <td> {{project.vote_total}}</td>
            <td> {{project.vote_ratio}}%</td>
            <td> {{project.created}}</td>
            <td> <a href="{% url 'project' project.id %}" >View</a></td>
            <td> <a href = "{%url 'update-project' project.id %}"> Edit</a> </td>
            <td> <a href="{% url 'delete-project' project.id %}" >Delete</a></td>
            
        </tr>
{% endfor %}

</table>

<hr>
<ul>
{% for i in proj %}

    <li> Title: <a href = "{% url 'project' i.id %}">{{i.title}}</a>, Description: {{i.description}}  </li>
    {% endfor %}
</ul>

<p>
    Colors bounced around in her head. They mixed and threaded themselves together. Even colors that had no business being together. They were all one, yet distinctly separate at the same time. How was she going to explain this to the others?
</p>
{% endblock content %}
